# Ignore miscellaneous includes
admin.inc
adminmenu.inc
adt_array.inc
adt.inc
adt_stack.inc
adt_trie.inc
banning.inc
basecomm.inc
bitbuffer.inc
clientprefs.inc
clients.inc
commandfilters.inc
commandline.inc
console.inc
convars.inc
core.inc
cstrike.inc
datapack.inc
dbi.inc
entity.inc
entity_prop_stocks.inc
events.inc
files.inc
float.inc
functions.inc
geoip.inc
halflife.inc
handles.inc
helpers.inc
keyvalues.inc
lang.inc
logging.inc
mapchooser.inc
menus.inc
nextmap.inc
profiler.inc
protobuf.inc
regex.inc
scriptstuff.sh
sdkhooks.inc
sdktools_client.inc
sdktools_engine.inc
sdktools_entinput.inc
sdktools_entoutput.inc
sdktools_functions.inc
sdktools_gamerules.inc
sdktools_hooks.inc
sdktools.inc
sdktools_sound.inc
sdktools_stocks.inc
sdktools_stringtables.inc
sdktools_tempents.inc
sdktools_tempents_stocks.inc
sdktools_trace.inc
sdktools_variant_t.inc
sdktools_voice.inc
sorting.inc
sourcemod.inc
string.inc
testing.inc
textparse.inc
tf2.inc
tf2_stocks.inc
timers.inc
topmenus.inc
usermessages.inc
vector.inc
version.inc
version_auto.inc